.navbar {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px; /* 固定高度 */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1001; /* 確保在 Modal 之上 */
}

.navContainer {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  margin: 0;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.langSwitcher button {
  background: none;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 0.3rem 0.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.langSwitcher button:hover,
.langSwitcher button.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.langSwitcher span {
    color: white;
}